html.namespacelistpage {
	.nsformHolder {
		margin: 24px 0 48px;
		display: table;
	}

	.nsformHolder form {
		display: table-cell;
	}

	.nsformHolder .nsformActions {
		padding-left: 12px;
		display: table-cell;
	}

	.mx-namespaceForm input {
		font-size: 0.87rem;
		height: 36px;
		line-height: 1.8;
		min-width: 250px;
		padding: 0 10px;
	}

	.emptyFilterMessage {
		display: none;
	}

	.prerelease {
		color: $danger;
		font-weight: $weight-semibold;
	}
}
